<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find ugv_vehicle_description)/config/vehicle_info.param.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="${vehicle_info['/**']['ros__parameters']['wheel_base']/2.0} 0 0.237419" rpy="0 0 ${-pi/2.0}"/>
      <geometry>
        <mesh filename="package://ugv_vehicle_description/mesh/ugv_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
</robot>
